
#formularz {
    position: relative;
    border-radius: 5px;
    font-family: sans-serif;
    width: 30%;
    background-color: #213b50;
    padding: 1%;
    color: white;
    height: 100%;
    margin: auto auto;
 
}

input[type=text], input[type=tel], #miasto, #text {
    width: 60%;
    background-color: #2b4a64;
    border: 0;
    color: white;
    line-height: 30px;
}

input[type=submit]{
    align-items: center;
    background-color: green;
    width: 80px;
    height: 30px;  
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

input:focus {
    background-color: #4e708c;
    border: solid;
    color: #ffffff
}
