* {
    box-sizing: border-box;
}
body {
    font-family: Lato, sans-serif;
    padding:0;
    margin:0;
    color: #291f1a;
}

/*nawigacja*/

nav{
    width: 100%;
    position: fixed;
    text-align: right;
    background-color: white;
    z-index: 2;
    height: 50px;
}
nav>ul {
    margin:0;
    list-style: none;
}

nav>ul>li {
    display: inline-block;
    line-height: 50px;
    margin-right: 30px;
}
nav>ul>li>a {
    text-decoration: none;
    color: #1ac056;
    font-size: 20px;
}
nav .toggle, [id="drop"] {
    display: none;
}

/*header*/

header {
    background-image: url("../images/img/header-background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 90vh;   
}

#headertekst {
    color: white;
    font-family: Roboto, sans-serif; 
    font-weight: 300;
    position: absolute;
    width: 100%;
    top: 50%;
    transform:translateY(-50%);
    text-align: center;   
}
#headertekst>h1 {
    font-size: 60px;
    font-weight: 400;
}
#headertekst>h2 {
    font-size: 35px;
    font-weight: 100;
}

.clear {
    clear: both;
    
}

/*section*/
section {
    padding: 30px;
    background-color: #f9fcfe;
    text-align: center
}

.green {
    color: #1ac056;
}
.podtytul {
    font-size: 20px;
}
/*Sekcja O mnie*/
#portret {
    float:left;
    width:48%;
    margin: 0;
}

#portret > img {
    width: 40%;
}
section article p {
    text-align: left;
}

/*Moje umiejetnosci*/

#ikony {
    padding: 20px;
}

#ikony>figure {
    display: inline-block;
    
}
/*Moje portfolio*/
.zdjecia {
    width: 30%;
    height: 300px;
    display: inline-block;
    background-size: cover;
    border:none;
    position: relative;
}
#zdjecie1 {
    background-image: url('../images/img/portfolio1.jpg')
}
#zdjecie2 {
    background-image: url('../images/img/portfolio2.jpg')
}
#zdjecie3 {
    background-image: url('../images/img/portfolio4.jpg')
}

#portfolio {
    font-size: 0;
}
/*Magiczne akcje*/

#portfolio .zdjecia .item-mask {
    background-color: rgba(42,61,79,0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: absolute;
    font-size: initial;
}

#portfolio .zdjecia .item-mask:hover {
    opacity: 1;
}

#portfolio .zdjecia .item-mask .item-content {
    border: 1px solid #fff;
    margin: 10px;
    height: 280px;
    position: relative;
}

#portfolio .zdjecia .item-mask .item-content .item-content-inner {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    padding: 5px;
    
}
.zdjecia a{
    color: #1ac056;
}

/*Stopka*/    

footer {
    padding: 50px;
    height:300px;
    background-color: #213b50;
    color: white;
}
#kontakt #name {
    font-size: 20px;
}
#kontakt_info {
    float: left;
    width:48%;
}
#formularz {
    float: left;
    width:48%;
}
#formularz input {
    background-color: #2B4A64;
    padding: 5px 10px;
    font-size: 15px;
    display: block;
    width:100%;
    border:0;
    margin-bottom: 10px;
    
}
#formularz input #przycisk {
    background-color: limegreen;
}
#formularz input[placeholder]{
    color: white !important;
    
}
#formularz #tekstwiadomosci {
    height: 100px;
}
#formularz input[type=submit] {
    width: 30%;
    background: #1ac056;
}

#socialmedia a {
    padding: 10px;
    color: white;
}

#kontaktsekcja {
    display: inline-block;
}
.copyright {
    margin: 0;
    height: 20px;
    width: auto;
    background-color: #142634;
    color: white;
    font-size: 13px;
}
