img {
    height: 300px;
    margin-bottom: 100px;
    transition: all 0.5s;
    
}

/*Obrót*/

.rotate img {
    transform: rotate(20deg);
    
}

.translate img {
   transform: translate(100px, 50px);
    
}

.scale img:hover {
    transform: scale(1.3) translate(50px, 50px);
    margin-bottom: 300px;
}

.animation img:hover {
    animation-name: resize;
    animation-duration: 2s;
    margin-top:300px;
    
}

@keyframes resize {
    0%, 100% {
        height: 300px;
    }
    50% {
        height: 50px;
    }
}